# val1 inputs
set_io val1[3] 23
set_io val1[2] 26
set_io val1[1] 28
set_io val1[0] 32

# seg7 outputs - Using only available GPIO
set_io seg7[6] 2   # A  (Pin 2)
set_io seg7[5] 3   # B  (Pin 3)
set_io seg7[4] 6   # C  (Pin 6)
set_io seg7[3] 9   # D  (Pin 9)
set_io seg7[2] 10  # E  (Pin 10)
set_io seg7[1] 44  # F  (Pin 44)
set_io seg7[0] 45  # G  (Pin 45)
#set_io seg7[0] 47  # DP (Pin 47)