LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# inputs
LOCATE COMP "bcd[3]" SITE "D6";
INPUT PORT "bcd[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "bcd[2]" SITE "D7";
INPUT PORT "bcd[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "bcd[1]" SITE "D8";
INPUT PORT "bcd[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "bcd[0]" SITE "D9";
INPUT PORT "bcd[0]" IO_TYPE=LVCMOS33;

# outputs
LOCATE COMP "seg7[6]" SITE "C5"; # A
IOBUF PORT "seg7[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[5]" SITE "C6"; # B
IOBUF PORT "seg7[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[4]" SITE "C7"; # C
IOBUF PORT "seg7[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[3]" SITE "C8"; # D
IOBUF PORT "seg7[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[2]" SITE "C9"; # E
IOBUF PORT "seg7[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[1]" SITE "C10"; # F
IOBUF PORT "seg7[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[0]" SITE "C11"; # G
IOBUF PORT "seg7[0]" IO_TYPE=LVCMOS33;